asgiref==3.9.1
colorama==0.4.6
diff-match-patch==20241021
Django==5.2.4
django-cors-headers==4.7.0
django-import-export==4.3.9
djangorestframework==3.16.0
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==11.3.0
qrcode==8.2
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
gunicorn==21.2.0
whitenoise==6.6.0





